<div class="main">
  <div class="parent-container">
    <div class="row" *ngFor="let number of numberArray;let rowIndex = index;">
      <div [ngClass]="{'header' : rowIndex == 0 , 'input-field' : rowIndex > 0, 'first-col' : colIndex == 0 , 'highlight' : rowIndex == selectedRowIndex || colIndex == selectedColumnIndex}"
        *ngFor="let char of charArray;let colIndex = index;">
        <input *ngIf="rowIndex > 0 && colIndex > 0;else headertemplate" type="text" (focus)="onInputFocus(rowIndex, colIndex)">
        <ng-template #headertemplate>
          {{rowIndex == 0 ? char : number}}
        </ng-template>
      </div>
    </div>
  </div>
</div>
